<section class="" [dir]="lang === 'en' ? 'ltr' : 'rtl'">
  <header class="header">
    <div class="upper-header px-5 d-flex flex-column flex-md-row justify-content-between align-items-center"
      style="font-size: 16px">
      <p class="text-white mb-0">
        Support&#64;mozakra.com
        <i class="fa-solid fa-envelope ms-2"></i>
      </p>

      <div class="rigthbox d-flex justify-content-between position-relative">
        <img src="/assets/images/egypt 1.png" alt="Egypt Flag" style="width: 25px;height: 25px">
        <select #mylang class=" form-select  bg-transparent text-white" Style="width: 10rem;color: #fff;"
          (change)="onChangeLang(mylang.value)">
          <option *ngFor="let lang of languages" [value]="lang.value">
            {{lang.name}}
          </option>
        </select>
        <a href="#" class="text-decoration-none list-unstyledmt-2  me-2 mt-2">
          {{"Contact"|translate}}
        </a>
      </div>
    </div>
  </header>


  <div class="header-Home px-5">
    <header class="d-flex flex-row  justify-content-between align-items-center ">
      <div class=" rightBox d-flex justify-content-between align-items-center ">
        <img src=" ../../assets/images/Muzakarah Logo-02 1.png" class=" img-fluid" alt="Logo">

      </div>
      <div class="input-with-icon mt-2 flex-grow-1 mx-2">
        <input type="text" class="form-control" placeholder="search">
        <span class="icon left">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
      <div class="profileTxx d-flex align-items-center">
        <img src="/assets/images/Memoji.png" class="rounded-circle img img-fluid" alt="Profile Picture">
        <div class="me-2">
          <p class="mb-0 ">{{"username" |translate }}</p>
          <span class="mb-0"> 454545 {{"codee" | translate}} </span>
        </div>
        <a href="#" class="me-2">
          <i class="fa-solid fa-caret-down"></i>
        </a>
      </div>




    </header>
  </div>

  <section class="card-header px-5">
    <div class="d-flex justify-content-around">
      <div class=" profile-card bg-white m-auto   text-center p-4 rounded-lg">
        <div class="d-flex justify-content-between flex-column align-items-center text-center flex-md-row text-md-end">
          <div class="d-flex">
            <!-- Avatar -->
            <img alt="User Avatar" class="rounded-circle me-md-4 mb-3 mb-md-0" height="100"
              src="/assets/images/Memoji.png" width="100" />
            <!-- User Info -->
            <div class="profile-txt flex-grow-1 mt-4 me-2 " *ngFor="let user of userList">
              <p class=" fw-bold mb-1"> {{"username" | translate }}</p>
              <span class="text-muted mb-0"> {{"stage"| translate}}</span>
            </div>
          </div>
          <!-- Edit Profile Button -->
          <div class="text-start button">
            <button class="btn  mt-3  mt-md-0 ms-md-auto">
              {{"edite"|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Home-body px-5">
    <!-- Profile Section -->
    <div class=" d-flex justify-content-center">
      <div class="nav bg-white m-auto w-100 p-4 rounded-lg">
        <nav class="d-flex flex-row align-items-center text-center position-relative flex-md-row text-md-end">
          <a href="#" class="active me-5 text-decoration-none ">{{'home' | translate}}</a>
          <a href="#" class="me-5 text-decoration-none">{{'Unfinishedtasks'|translate}} </a>
          <a href="#" class="me-5 text-decoration-none">{{'CompletedTasks'|translate}} </a>
          <a href="#" class="me-5 text-decoration-none">{{'TestYourself'|translate}} </a>
          <a href="#" class="me-5 text-decoration-none">{{'SubjectsRegistered'|translate}} </a>
        </nav>
      </div>
    </div>

    <!-- Stats Section -->
    <div class="status">
      <div class="mt-3 px-2">
        <h1 class="h5 px-3 ">{{'home' | translate}}</h1>
        <div class="stats  row g-3  p-2">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="bg-blue-100  p-3 rounded shadow-md d-flex">
              <div class="icon-Bg mt-2  me-2">
                <i class="fa-regular fa-circle-play c-blue-100"></i>
              </div>
              <div class="">
                <p class="text-one font-bold m-0 p-0 me-5 fw-bold">8</p>
                <p class="text-two  m-0 p-0 me-5">{{"SubjectsRegistered"| translate}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="bg-purple-100 p-3  shadow-md d-flex">
              <div class="icon-Bg mt-2  me-2">
                <i class="fa-solid fa-list-check c-purple-100"></i>
              </div>
              <div class="">
                <p class="text-one font-bold m-0 p-0 me-5 fw-bold">8</p>
                <p class="text-two  m-0 p-0 me-5">{{"SubjectsRegistered"| translate}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="bg-green-100 p-3  shadow-md d-flex">
              <div class="icon-Bg mt-2   me-2">
                <i class="fa-solid fa-trophy c-green-100"></i>
              </div>
              <div class="">
                <p class="text-one font-bold m-0 p-0 me-5 fw-bold">8</p>
                <p class="text-two  m-0 p-0 me-5">{{"SubjectsRegistered"| translate}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="bg-purple-200 p-3  shadow-md d-flex">
              <div class="icon-Bg mt-2   me-2">
                <i class="fa-solid fa-trophy c-green-100"></i>
              </div>
              <div class="">
                <p class="text-one font-bold m-0 p-0 me-5 fw-bold">8</p>
                <p class="text-two  m-0 p-0 me-5">{{"SubjectsRegistered"| translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Table Section -->
  <section class="table_ p-4 ">
    <div class="table-responsive">
      <table class="w-100 bg-transparent text-center rounded shadow-md">
        <thead class="bg-gray-200">
          <tr>
            <th class="p-2">
              <img src="/assets/images/maths (1).png" alt="">
              <p>{{'materials'|translate}}</p>
              <span>{{'materials'|translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/book.png" alt="">
              <p>{{"units"|translate}} </p>
              <span> {{"units"|translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/geography.png" alt="">
              <p> {{"lessons" | translate}}</p>
              <span>{{"lessons"|translate}} </span>
            </th>
            <th class="p-2">
              <img src="/assets/images/deadline.png" alt="">
              <p>{{"time"|translate}} </p>
              <span>{{"time" |translate}} </span>
            </th>
            <th class="p-2">
              <img src="/assets/images/geography.png" alt="">
              <p>{{"Achievement" |translate}}</p>
              <span>{{"Achievement" | translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/score 1.png" alt="">
              <p>{{"tests"|translate}}</p>
              <span>{{"tests" |translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/exam 1.png" alt="">
              <p>{{"result" | translate}}</p>
              <span>{{"result"|translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/results.png" alt="">
              <p>{{"Rating" |translate}}</p>
              <span>{{"Rating"| translate}}</span>
            </th>
            <th class="p-2">
              <img src="/assets/images/report.png" alt="">
              <p>{{"Notes" |translate}}</p>
              <span>{{"Notes" |translate}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let subject of subjectsInTable">
            <tr class="fr-tr text-center bg-white m-5  ">
              <td class="p-2">
                <p class="p-0 m-0">{{subject.name}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">
                  4
                  {{subject.unites}}
                </p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">
                  4
                  {{subject.lessons}}
                </p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.time}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.Achievement}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.tests}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.result}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.Rating}}</p>
              </td>
              <td class="p-2">
                <p class="p-0 m-0">{{subject.Notes}}</p>
              </td>
              <td class="p-2 s-accordion__icon is-active " (click)=" toggleCollapse(subject.id)">
                <button class="bg-transparent " style="border:none;" [attr.aria-expanded]="!isCollapsed(subject.id)">
                  <i class="fa-solid"
                    [ngClass]="{'fa-caret-up': !isCollapsed(subject.id), 'fa-caret-down': isCollapsed(subject.id)}"
                    style="color: #004BFD;"></i>
                </button>
              </td>
            </tr>
            <ng-container *ngIf="!isCollapsed(subject.id)">
              <thead>
                <tr>
                  <p class="study mt-3">{{"study"| translate}}</p>
                </tr>
              </thead>
              <tr *ngFor="let study of study" class="cllapse" [attr.colspan]="3">
                <td></td>
                <td>{{"unitStaus" | translate}}</td>
                <td>4{{ "Lesson"|translate}}</td>
                <td>20{{ "Time" | translate}}</td>
                <td>{{study.Achievement}}</td>
                <td>{{study.result}}</td>
                <td>{{"rating" |translate}}</td>
                <td>{{study.Notes}}</td>
                <td>{{study.tests}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Required Subjects Section -->
  <section class="required-subject px-5">
    <h2 class=" text-xl subject">
      {{"RequiredSubjects"|translate}}
      <span>
        ( {{subjectList.length}} )
      </span>
    </h2>
    <div class="row">
      <div class="col-lg-3  col-sm-6 mt-3 " *ngFor="let subject of subjectList">
        <div class="card bg-white shadow  rounded shadow-md p-2">
          <img alt="Subject Image" class="card-img- mt-3" src="/assets/images/Image.png" />
          <button class="btn btn-add position-absolute top-5 " id="toggleButton" (click)="addSubject(subject,$event)">
            <i class="fa-solid fa-plus bg-white rounded icon"></i>
          </button>
          <p class="text-sm  p-2 mt-2 ">
            {{subject.stage| translate}}
          </p>
          <h4 class="text-lg font-bold card-title">
            {{subject.name | translate}}
          </h4>
          <p class="text-sm text-gray-500 card-text p-0 m-0">
            {{subject.description | translate}}
          </p>
        </div>
      </div>
      <!-- End of subject block -->
    </div>
  </section>

  <!-- Footer -->
  <footer class="position-relative mt-4 w-100">
    <svg viewBox="0 0 1440 210" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M-1 0H1440V121.019C1440 121.019 1079.18 209.145 719.121 209.145C359.06 209.145 -1 121.019 -1 121.019V0Z"
        fill="#E2F3FF" />
    </svg>

    <div class="container">
      <div class="footer-links d-flex justify-content-between align-items-center">
        <nav class="service flex space-x-4">
          <a href="#" class="text-blue-600 text-decoration-none">{{"Services" | translate}}</a>
          <a href="#" class="text-blue-600 text-decoration-none">{{"teachers" | translate}}</a>
          <a href="#" class="text-blue-600 text-decoration-none">{{"Testmonials" | translate}}</a>
          <a href="#" class="text-blue-600 text-decoration-none">{{"Contact" | translate}}</a>
        </nav>
        <div class="links">
          <a href="#" class="text-blue-600 text-decoration-none">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-blue-600 text-decoration-none">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-blue-600 text-decoration-none">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-blue-600 text-decoration-none">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <hr class="position-relative">
      <div class="low-footer d-flex justify-content-between position-relative">
        <p>{{"copyright2" | translate}}</p>
        <img alt="Muzakarah Logo" class="mx-auto" src="/assets/images/Muzakarah Logo-02 1.png" width="100" />
        <div class="privacy">
          <a href="#" class="text-blue-600 text-decoration-none fw-bold">{{"privacy" | translate}}</a>
          <a href="#" class="text-blue-600 text-decoration-none fw-bold">{{"Terms" | translate}}</a>
        </div>
      </div>
    </div>
  </footer>
</section>